@import url("reset.css");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
}

td, th {
  padding: 5px;
  border-bottom: thin solid black;
}

th {
  font-weight: bold;
  font-size: 18px;
}

td.status {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  text-align: right;
}

.OPEN {
  color: green;
}

.UNREACHABLE, .REFUSED, .UNKNOWN, .TIMEOUT {
  color: red;
}

.OTHER {
  color: yellow;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
